<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.system.manager.mapper.SysUserMapper">
<!--    <select id="selectUserInfoByUserName" resultType="org.example.system.model.entity.system.SysUser">-->
<!--        select * from sys_user where username=#{username}-->
<!--    </select>-->
    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id,username userName ,password,name,phone,avatar,description,status,create_time,update_time,is_deleted
    </sql>

    <select id="selectUserInfoByUserName" resultType="org.example.system.model.entity.system.SysUser">
        select <include refid="columns" /> from sys_user where username = #{userName} and is_deleted = 0
    </select>

<!--    用户条件分页查询接口-->
    <select id="findByPage" resultType="org.example.system.model.entity.system.SysUser">
        select <include refid="columns" />
            from sys_user
        <where>
            <if test="keyword !=null and keyword != ''">
                and username like concat('%',#{keyword},'%')
            </if>
            <if test="createTimeBegin != null and createTimeBegin != ''">
                and create_time >= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null and createTimeEnd != ''">
                and create_time &lt;= #{createTimeEnd}
            </if>
            and is_deleted = 0
        </where>
    </select>

<!--    用户添加-->
    <insert id="save">
        insert into sys_user (
            id,
            username,
            password,
            name,
            phone,
            avatar,
            description,
            status
        ) values (
                     #{id},
                     #{userName},
                     #{password},
                     #{name},
                     #{phone},
                     #{avatar},
                     #{description},
                     #{status}
                 )
    </insert>
<!--用户修改-->
    <update id="update">
        update sys_user set
        <if test="userName != null and userName != ''">
            username = #{userName},
        </if>
        <if test="password != null and password != ''">
            password = #{password},
        </if>
        <if test="name != null and name != ''">
            name = #{name},
        </if>
        <if test="phone != null and phone != ''">
            phone = #{phone},
        </if>
        <if test="description != null and description != ''">
            description = #{description},
        </if>
        <if test="status != null and status != ''">
            status = #{status},
        </if>
        update_time =  now()
        where
        id = #{id}
    </update>
<!--    删除用户-->
    <update id="delete">
        update sys_user set
                            update_time = now() ,
                            is_deleted = 1
        where
            id = #{id}
    </update>
</mapper>