<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.system.manager.mapper.SysMenuMapper">
    <resultMap id="sysMenuMap" type="org.example.system.model.entity.system.SysMenu" autoMapping="true"/>
    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id,parent_id,title,component,sort_value,status,create_time,update_time,is_deleted
    </sql>
<!--    菜单修改-->
    <update id="updateById" >
        update sys_menu set
        <if test="parentId != null and parentId != ''">
            parent_id = #{parentId},
        </if>
        <if test="title != null and title != ''">
            title = #{title},
        </if>
        <if test="component != null and component != ''">
            component = #{component},
        </if>
        <if test="sortValue != null">
            sort_value = #{sortValue},
        </if>
        <if test="status != null">
            status = #{status},
        </if>
        update_time =  now()
        where
        id = #{id}
    </update>
<!--    菜单添加-->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into sys_menu (
            id,
            parent_id,
            title,
            component,
            sort_value,
            status
        ) values (
                     #{id},
                     #{parentId},
                     #{title},
                     #{component},
                     #{sortValue},
                     #{status}
                 )
    </insert>
    <!--查询所有菜单，返回list集合-->
    <select id="findAll" resultMap="sysMenuMap">
        select <include refid="columns" />
        from sys_menu
        where
        is_deleted = 0
        order by sort_value
    </select>
<!--    根据当前菜单id，查询是否包含子菜单-->
    <select id="selectCountById" resultType="Integer">
        select count(id)
        from sys_menu
        where
            parent_id = #{parentId}
          and is_deleted = 0
    </select>
<!--    菜单删除-->
    <update id="delete">
        update sys_menu set
                            update_time = now() ,
                            is_deleted = 1
        where
            id = #{id}
    </update>
<!--    根据userId查询可以操作菜单-->
    <select id="findMenusByUserId" resultMap="sysMenuMap">
        SELECT DISTINCT m.* FROM sys_menu m
                                     INNER JOIN sys_role_menu rm ON rm.menu_id = m.id
                                     INNER JOIN sys_user_role ur ON ur.role_id = rm.role_id
        WHERE ur.user_id=#{userId} and m.is_deleted = 0
    </select>
<!--    获取当前添加菜单的父菜单-->
    <select id="selectParentMenu" resultMap="sysMenuMap">
        select <include refid="columns" /> from sys_menu where id = #{id}
    </select>
</mapper>